#divel{
    "width:80px;
    height:80px;
    display:none;
    background-color:red;"
}
#divel{
    "width:80px;
    height:80px;
    display:none;
    background-color:green;"
}
#divel{
    "width:80px;
    height:80px;
    display:none;
    background-color:blue;"
}